# Table of contents
1. Orders Data insert
2. Product Data Insert
3.  Data Wrangling
4.  Department Data Insert
5.  Data Dictionary
6.  Subsetting
7.  Changing variables data type
8.  Changing days_since_prior_order name
9.  Busiest hour for placing orders
10. Find value of 4 in department_id
11. Subsetting breakfast data
12. Subsetting dinner party items and counting rows in df
13. Extracting info about user_id 1
14. Exporting Dataframes

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Orders Data Insert

In [7]:
df_ords = pd.read_csv(r'C:\Users\olivi\OneDrive\Documents\Data Analytics\Data Analytics Immersion\Instacart Basket Analysis\02 Data\Original Data\orders.csv' , index_col = False)

In [8]:
path = r'C:\Users\olivi\OneDrive\Documents\Data Analytics\Data Analytics Immersion\Instacart Basket Analysis'

In [9]:
path

'C:\\Users\\olivi\\OneDrive\\Documents\\Data Analytics\\Data Analytics Immersion\\Instacart Basket Analysis'

In [10]:
df_ords = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data' , 'orders.csv'), index_col = False)

# Product Data Insert

In [12]:
df_prods = pd.read_csv(r'C:\Users\olivi\OneDrive\Documents\Data Analytics\Data Analytics Immersion\Instacart Basket Analysis\02 Data\Original Data\products.csv' , index_col = False)

In [13]:
path = r'C:\Users\olivi\OneDrive\Documents\Data Analytics\Data Analytics Immersion\Instacart Basket Analysis'

In [14]:
path

'C:\\Users\\olivi\\OneDrive\\Documents\\Data Analytics\\Data Analytics Immersion\\Instacart Basket Analysis'

In [15]:
df_prods = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data' , 'products.csv'), index_col = False)

# Data Wrangling

In [17]:
# Dropping eval_set column from orders.csv
df_ords.drop(columns = ['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [18]:
df_ords = df_ords.drop(columns = ['eval_set'])

In [19]:
# Finding missing values
df_ords['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [20]:
# Renaming Columns
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [21]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [22]:
# Changing varaible's data type
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [23]:
df_ords.describe()

,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [24]:
df_ords['order_id'].dtype

dtype('O')

# Departments data insert

In [26]:
df_dep = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data' , 'departments.csv'), index_col = False)

In [27]:
# transposing df_dep
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [28]:
df_dep_t = df_dep.T

In [29]:
# adding index to df_dep_t
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [30]:
# creating new header
new_header = df_dep_t.iloc[0]

In [31]:
new_header

0    department
Name: department_id, dtype: object

In [32]:
df_dep_t_new = df_dep_t[1:]

In [33]:
df_dep_t_new.columns = new_header # set the header row as the df header

In [34]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

# Data Dictionary

In [36]:
data_dict = df_dep_t_new.to_dict('index')

In [37]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [38]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [39]:
# Using dictionary to locate department within df_prods department_id
print(data_dict.get('19'))

{'department': 'snacks'}

# Subsetting

In [41]:
# Subsetting df_prods to df_snacks
df_snacks = df_prods[df_prods['department_id']==19]

In [42]:
df_prods['department_id']==19

0         True
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Name: department_id, Length: 49693, dtype: bool

In [43]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [44]:
df_ords.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0

# Changing variables data type

In [46]:
df_ords['order_number'] = df_ords['order_number'].astype('str')

In [47]:
df_ords['orders_day_of_week'] = df_ords['orders_day_of_week'].astype('str')

# Changing days_since_prior_order name

In [49]:
df_ords_new = df_ords.rename(columns={'days_since_prior_order': 'days_since_order'})

In [50]:
df_ords_new.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# Busiest hour for placing orders

In [52]:
# Get the mode of the 'order_hour_of_day' column
mode_order_hour = df_ords_new['order_hour_of_day'].mode()[0]

print(f"The mode of the 'order_hour_of_day' column is {mode_order_hour}.")

The mode of the 'order_hour_of_day' column is 10.

# Find value of 4 in department_id

In [54]:
print(data_dict.get('4'))

{'department': 'produce'}

# Subsetting breakfast data

In [56]:
df_breakfast = df_prods[df_prods['department_id']==14]

# Subsetting dinner party items and counting rows in df

In [58]:
df_dinner_party = df_prods[df_prods['department_id'].isin([5,7,12,20])]

In [59]:
df_dinner_party.shape

(7650, 5)

# Extracting info about user_id 1

In [61]:
# Filter the DataFrame to get data for user_id 1
user_data = df_ords_new[df_ords_new['user_id'] == 1]

# Print the extracted data
print("Data for user_id 1:")
print(user_data)

Data for user_id 1:
   order_id  user_id order_number orders_day_of_week  order_hour_of_day  \
0   2539329        1            1                  2                  8
1   2398795        1            2                  3                  7
2    473747        1            3                  3                 12
3   2254736        1            4                  4                  7
4    431534        1            5                  4                 15
5   3367565        1            6                  2                  7
6    550135        1            7                  1                  9
7   3108588        1            8                  1                 14
8   2295261        1            9                  1                 16
9   2550362        1           10                  4                  8
10  1187899        1           11                  4                  8

    days_since_order
0                NaN
1               15.0
2               21.0
3               29.0
4               28.0
5               19.0
6               20.0
7               14.0
8                0.0
9               30.0
10              14.0

# Exporting Dataframes

In [63]:
# Exporting df_ords_new
df_ords_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [64]:
# Exporting df_dep_t_new
df_dep_t_new.to_csv(os.path.join(path, '02 Data' , 'Prepared Data' , 'departments_wrangled.csv'))

In [66]:
df_prods.to_csv(os.path.join(path, '02 Data' , 'Prepared Data' , 'products_wrangled.csv'))