# Table of contents
1. Orders Data Insert
2. Product Data Insert
3. Consistency Checks
4. Addressing missing values
5. Duplicates
6. Exporting Ords

In [18]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# Orders Data Insert

In [73]:
df_ords = pd.read_csv(r'C:\Users\olivi\OneDrive\Documents\Data Analytics\Data Analytics Immersion\Instacart Basket Analysis\02 Data\Prepared Data\orders_wrangled.csv' , index_col = False)

In [74]:
path = r'C:\Users\olivi\OneDrive\Documents\Data Analytics\Data Analytics Immersion\Instacart Basket Analysis'

In [75]:
df_ords = pd.read_csv(os.path.join(path, '02 Data' , 'Prepared Data' , 'orders_wrangled.csv'), index_col = False)

# Product Data Insert

In [80]:
df_prods = pd.read_csv(r'C:\Users\olivi\OneDrive\Documents\Data Analytics\Data Analytics Immersion\Instacart Basket Analysis\02 Data\Prepared Data\products_wrangled.csv' , index_col = False)

In [82]:
path = r'C:\Users\olivi\OneDrive\Documents\Data Analytics\Data Analytics Immersion\Instacart Basket Analysis'

In [84]:
df_prods = pd.read_csv(os.path.join(path, '02 Data' , 'Prepared Data' , 'products_wrangled.csv'), index_col = False)

# Consistency Checks

In [86]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [88]:
for col in df_ords.columns:
    weird = df_ords[col].map(type) != type(df_ords[col].iloc[0])
    if weird.any():
        print(col)

Unnamed: 0
order_id
user_id
order_number
orders_day_of_week
order_hour_of_day
days_since_order

In [90]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [92]:
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [93]:
df_ords['order_number'] = df_ords['order_number'].astype('str')

In [96]:
df_ords['orders_day_of_week'] = df_ords['orders_day_of_week'].astype('str')

In [98]:
df_ords['order_hour_of_day'] = df_ords['order_hour_of_day'].astype('int64')

In [100]:
df_ords['days_since_order'] = df_ords['days_since_order'].astype('float')

In [102]:
# Here we can see there are 20k plus rows of missing data for the days_since_order column
# It is likely that the data was not entered here.
df_ords.isnull().sum()

Unnamed: 0                 0
order_id                   0
user_id                    0
order_number               0
orders_day_of_week         0
order_hour_of_day          0
days_since_order      206209
dtype: int64

In [104]:
df_nan =df_ords[df_ords['days_since_order'].isnull() == True]

In [106]:
df_nan

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,3420930,969311,206205,1,4,12,NaN
3420934,3420934,3189322,206206,1,3,18,NaN
3421002,3421002,2166133,206207,1,6,19,NaN
3421019,3421019,2227043,206208,1,1,15,NaN
3421069,3421069,3154581,206209,1,3,11,NaN

# Addressing Missing Values

In [109]:
df_ords.shape

(3421083, 7)

In [111]:
#I replaced the missing values with the mean to ensure that the days_since_order column 
# reflects the central tendency of the data without introducing significant bias. 
# Using the mean helps maintain the overall distribution and integrity of the dataset, 
# allowing for more accurate analysis.

df_ords_clean = df_ords.copy()
df_ords_clean['days_since_order'] = df_ords_clean['days_since_order'].fillna(1.111484e+01)

In [113]:
df_ords_clean.shape

(3421083, 7)

# Duplicates

In [116]:
# Finding duplicates I did not find any so I didn't need to delete any data

df_dups = df_ords_clean[df_ords_clean.duplicated()]

In [117]:
df_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_order]
Index: []

# Exporting Ords

In [121]:
df_ords_clean.to_csv(os.path.join(path,'02 Data' , 'Prepared Data' , 'orders_checked.csv'))